@import "tailwindcss";

@theme {
  --color-primary: #0d46a0;
  --color-brand-red: #e63946;
  --color-brand-green: #2a9d8f;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101722;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
